{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="/static/css/channelDetailStyle.css"/>
<div class="wrapper">
  <h1> Channel {{ channel.channel_id }} Details: {{ channel.name }} </h1>

  <a href="https://thingspeak.com/channels/{{channel.channel_id}}/private_show"><strong>View channel on Thingspeak</strong></a>
  <br><br>
  <a href="https://airqo.herokuapp.com/heatmap/?channel_ids={{channel.channel_id}}"><strong>View heatmap</strong></a>

  <br><br><br>

  <div class=note_form>
    <form action="/channel_notes/", method="post" enctype="multipart/form-data">
      {% csrf_token %}
      Author: <input type="text" name="author" required><br><br>
      Note:
      <textarea rows="4" cols="50" name="note" required></textarea><br>
      <input hidden type="text" name="channel" value={{ channel.channel_id }} required><br>
      <input type="submit" value="Create Note">
    </form>
  </div>

  <br/><br/>

  <strong>Channel History</strong>
  <br/>
  {% for point in history %}
    <br/><br/>
    {% if point.object_type == 'channel_note' %}
      <div class=note_block>
        <strong>NOTE</strong><br/>
        <strong>Created at:</strong> {{ point.created_at }}<br/>
        <strong>Author:</strong> {{ point.author }}<br/>
        <strong>Note:</strong> {{ point.note }}
      </div>
    {% else %}
      <div class="{% if point.resolved_at %} resolved_incident_block {% else %} incident_block {% endif %};">
        <strong>INCIDENT</strong><br/>
        <strong>Created at:</strong> {{ point.created_at }}<br/>
        <strong>Resolved at:</strong> {{ point.resolved_at }}<br/>
        <strong>Reason:</strong> {{ point.malfunction_reason.description }}
        <ul>
        {% for reason in point.malfunction_reasons%}
          <li>{{ reason.description }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endfor %}
</div>

{% endblock %}
