{% extends "base.html" %}
{% load static %}
{% block content %}
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="{% static 'css/heatmapStyle.css' %}">
    <div id="map"></div>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiYWlycW8iLCJhIjoiY2pvMDIzd3RxMGN2eTNwbXExdjdwb2xidCJ9.sxve698GErIe5KNnLvNhJQ';
      var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/dark-v9',
          center: [32.5825, 0.3476],
          zoom: 10
      });
       map.on('load', function() {
      // Add a geojson point source.
      map.addSource('sensor-data', {
          "type": "geojson",
          "data": {{ geojson_points }}
      });
       map.addLayer({
          "id": "sensor-data-heat",
          "type": "heatmap",
          "source": "sensor-data",
          "paint": {
              // Increase the heatmap color weight by zoom level
              // heatmap-intensity is a multiplier on top of heatmap-weight
              "heatmap-intensity": [
                  "interpolate",
                  ["linear"],
                  ["zoom"],
                  0, 1,
                  9, 3
              ],
              // Color ramp for heatmap.  Domain is 0 (low) to 1 (high).
              // Begin color ramp at 0-stop with a 0-transparancy color
              // to create a blur-like effect.
              "heatmap-color": [
                  "interpolate",
                  ["linear"],
                  ["heatmap-density"],
                  0, "rgba(33,102,172,0)",
                  0.2, "rgb(103,169,207)",
                  0.4, "rgb(209,229,240)",
                  0.6, "rgb(253,219,199)",
                  0.8, "rgb(239,138,98)",
                  1, "rgb(178,24,43)"
              ],
              // Adjust the heatmap radius by zoom level
              "heatmap-radius": [
                  "interpolate",
                  ["linear"],
                  ["zoom"],
                  0, 2,
                  9, 10
              ],
          }
        }, 'waterway-label');
    });
       // This example requires the Visualization library. Include the libraries=visualization
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=visualization">
      var map, heatmap;
       function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: {lat: 0.3476, lng: 32.5825},
          mapTypeId: 'roadmap'
        });
         heatmap = new google.maps.visualization.HeatmapLayer({
          data: getPoints(),
          map: map,
          maxIntensity: maxI,
          radius: rad,
          opacity: opac
        });
      }
       function toggleHeatmap() {
        heatmap.setMap(heatmap.getMap() ? null : map);
      }
       function changeGradient() {
        var gradient = [
          'rgba(0, 255, 255, 0)',
          'rgba(0, 255, 255, 1)',
          'rgba(0, 191, 255, 1)',
          'rgba(0, 127, 255, 1)',
          'rgba(0, 63, 255, 1)',
          'rgba(0, 0, 255, 1)',
          'rgba(0, 0, 223, 1)',
          'rgba(0, 0, 191, 1)',
          'rgba(0, 0, 159, 1)',
          'rgba(0, 0, 127, 1)',
          'rgba(63, 0, 91, 1)',
          'rgba(127, 0, 63, 1)',
          'rgba(191, 0, 31, 1)',
          'rgba(255, 0, 0, 1)'
        ]
        heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
      }
    </script>
{% endblock %}